.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body {
  background: linear-gradient(#FFFFFF, #76B8F9 )
} */

.footer {
  position: fixed;
  bottom: 0;
  display: block;
  height: 45px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  left: 50%;
}

.welcome-back {
  text-align: center;
  margin: auto;
  font-size: xx-large;
}

.login{
  display: flex;
  text-align: center;
  border-radius: 25px;
  background-color: #F1F7EE;
  border-color: black;

}

.login-form {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

input[type="text"], select{
  width: 120%;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"], select{
  width: 120%;
  border-radius: 4px;
  box-sizing: border-box;
}